.bcolor
{
  --background: darkcyan;
}
.tcolor
{
  color:darkcyan;
}
a 
{
    color: darkcyan; 
    text-decoration: none;
}
.topicon
{
  font-weight: bold;
  color: darkcyan;
}
.topname
{
  display: inline-block; margin-left: 5px; font-weight: bold;
  color: darkcyan;
}
.login
{
  font-weight: bold;
  color:darkcyan
}
.logbutton
{
  padding-top: 5px;
  --background:darkcyan;
  --ion-color-base: darkcyan; 
  --ion-color-contrast: white;
}
.hlink
{
  text-align:center;
}