.fpass
{
    margin: auto;
    padding-left: 0px;
    color: darkcyan;
    font-weight: bold;
}
.focus
{
    --highlight-color-focused:darkcyan;
}
ion-input {
    --highlight-color-focused: darkcyan;
  }
.ptag
{
    font-size: small;
    font-weight: bold;
    color: darkcyan;
    padding-left: 15px;
    padding-right: 20px;
    text-align:justify;
}  