<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" style="color: darkcyan;"></ion-back-button>
    </ion-buttons>
    <ion-title class="fpass">
    Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <p class="ptag">Please enter your email to receive the link for changing your password:</p>
    <ion-item lines="full">
      <ion-label position="floating" style="color: darkcyan; font-weight: bold;">
        Email
      </ion-label>
      <ion-input type="email" class="focus"></ion-input> <!--[(ngModel)]="userEmail"-->
    </ion-item>
      <ion-button expand="full" shape="round" style="--background:darkcyan; padding-top: 5px;">
        Send Email
      </ion-button>
  </ion-list>
    <!-- Add the rest of your content, such as a submit button -->
</ion-content>
