<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="finger-print" class="tcolor" style="font-weight: bold;"></ion-icon>
      <h3 style="display: inline-block; margin-left: 5px; font-weight: bold;" class="tcolor">BioAttend</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button  class="tcolor" contentId="signup-content"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="signup-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="tcolor" style="text-align: center;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content contentId="signup-content">
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/signup">Sign-up</ion-item>
      <ion-item routerLink="/login">Login</ion-item>
      <ion-item routerLink="/aboutus">About Us</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" class="ion-padding" id="signup-content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center">
        <h1 class="tcolor" style="font-weight: bold;">Create an Account</h1>
        <ion-item class="custom-input">
          <ion-label position="floating" style="color: darkcyan;">Full Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating" style="color: darkcyan;">UserID</ion-label>
          <ion-input type="Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: darkcyan;">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: darkcyan;">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: darkcyan;">Confirm Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>
        <ion-button class="bcolor" shape="round" style="padding-top: 20px; --backgound:darkcyan;" expand="full" routerLink="/dashboard">
          Sign Up
        </ion-button>
        <p >
          Already have an account? <a routerLink="/login">Login</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
