.rfinger
{
    margin: auto;
    padding-left: 0px;
    color: darkcyan;
    font-weight: bold;
}
.tcolor
{
    color:darkcyan;
}
.bcolor
{
    --background: darkcyan;
}
.ficon
{
  font-size: 7em; 
  padding-top: 30px;
  color:darkcyan;
  padding-left: 5px;
}