.topname
{
    font-weight: bold;
    display: inline-block; 
    margin-left: 5px; 
    color:darkcyan;
}
.topicon
{
    color:darkcyan;
    font-weight: bold;
}
.tcolor
{
    color: darkcyan;
}
.bcolor
{
    --background:darkcyan;
}
.tbutton
{
    padding-top: 10px;
    --background:darkcyan;
}
.sbutton
{
    --background:darkcyan;
}