.bcolor
{
  --background: darkcyan;
}
.tcolor
{
  color:darkcyan
}

.ficon
{
  font-size: 7em; 
  padding-top: 90px;
  color:darkcyan;
}
.pbar
{
  margin-top: 20px;
  --ion-color-primary: darkcyan; 
  --background: rgb(195, 246, 246);
}
.aut
{
  justify-content: center; 
  color:darkcyan
}
.authenticate
{
  margin: auto;
  padding-left: 0px;
  color: darkcyan;
  font-weight: bold;
}