.bcolor
{
  --background: darkcyan;
}
.tcolor
{
  color:darkcyan
}
.topicon
{
  font-weight: bold;
  color: darkcyan;
}
.topname
{
  display: inline-block; margin-left: 5px; font-weight: bold;
  color: darkcyan;
}