<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="finger-print" class="topicon"></ion-icon>
      <h3 class="topname">BioAttend</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" class="tcolor"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="margin-top: 50px;">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-text-center">
        <ion-icon name="finger-print" style="font-size: 7em; padding-top: 90px;" class="tcolor" alt="Fingerprint Icon"></ion-icon>
        <h1 class="tcolor">Fingerprint Authentication</h1>
        <ion-progress-bar
          type="indeterminate"
          style="margin-top: 20px; --ion-color-primary: darkcyan; --background: rgb(26, 219, 219)"
          aria-label="Fingerprint Authentication In Progress"
        ></ion-progress-bar>
        <!--*ngIf="authenticating"-->
        <p style="justify-content: center; color:darkcyan" aria-live="polite">Authenticating</p>
        <p class="tcolor" aria-live="assertive">Authentication failed. Please try again.</p>
        <ion-button class="bcolor" style="--background: darkcyan;" shape="round" expand="full" disable="false">
          <!--(click)="authenticate()"-->
          <p>Tap here to Mark your Attendance</p>
        </ion-button>
        <!--*ngIf="authenticationFailed"-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
