.bcolor
{
  --background: darkcyan;
}
.tcolor
{
  color:darkcyan
}
.topicon
{
 
  display: inline-block;
  font-weight: bold;
  color: darkcyan;
}
.topname
{
  
  display: inline-block;
  font-weight: bold;
  color: darkcyan;
}
.ficon
{
  font-size: 7em; 
  padding-top: 90px;
  color:darkcyan;
}
.pbar
{
  margin-top: 20px;
  --ion-color-primary: darkcyan; 
  --background: rgb(195, 246, 246);
}
.aut
{
  justify-content: center; 
  color:darkcyan
}
.titl
{
  ion-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}