<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="finger-print" class="topicon" ></ion-icon>
      <h3 class="topname">BioAttend</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" class="tcolor"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="margin-top: 50px;" id="Authentication-content">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-text-center">
        <ion-icon name="finger-print" class="ficon" alt="Fingerprint Icon"></ion-icon>
        <h1 class="tcolor">Fingerprint Authentication</h1>
        <ion-progress-bar type="indeterminate" class="pbar"></ion-progress-bar>
        <!--*ngIf="authenticating"-->
        <p class="aut">Authenticating</p>
        <p class="tcolor" aria-live="assertive">Authentication failed. Please try again.</p>
        <ion-button class="bcolor" style="--background: darkcyan;" shape="round" expand="full" disable="false">
          <!--(click)="authenticate()"-->
          <p>Tap here to Mark your Attendance</p>
        </ion-button>
        <!--*ngIf="authenticationFailed"-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
